@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;          /* SemiBold */
  font-size: 38px;
  line-height: 100%;         /* 1 */
  letter-spacing: 0;
  text-transform: uppercase; /* Uppercase */
  color: var(--color-primary);
  padding-bottom: 25px;

}

.container {
  width: 100%;
  max-width: 1280px; /* или 1440, зависит от макета */
  margin: 0 auto;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem;
  padding-bottom: 30px;
  
}

@media (min-width: 768px) {
  .container {
    padding-left: 2rem; /* 32px */
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 1rem; /* 48px */
    padding-right: 1rem;
  }
}

:root {
    --site-bg: #EDEEEF;
      --color-primary: #1A32AF;
}

html, body {
  background-color: var(--site-bg);
}